{% set path = {
	'ladderPath': path ('app_home'),
	'contactPath': path ('app_contact'),
	'legalPath': path ('app_legal'),
} %}

<!--Navbar -->
<div class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60" {{ react_component('Navbar', { 'path' : path } ) }}>
	<twig:ux:icon name="line-md:loading-loop" class="w-10"/>
</div>

<!--Menu -->
<aside class="fixed inset-y-0 left-0 z-10 hidden flex-col border-r w-14 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60 sm:flex top-16" {{ react_component('Menu', { 'path' : path } ) }}>
	<twig:ux:icon name="line-md:loading-loop" class="w-10"/>
</aside>
