{% extends 'base/base.html.twig' %}

{% block title %}
	{{ parent() }}
	- Ladder
{% endblock %}

{% block body %}

	<div class="sticky z-10 flex justify-between top-16">
		{% include 'pages/app/tracker/ladder/components/_search-input.html.twig' %}

		{% include 'pages/app/tracker/ladder/components/_filter.html.twig' %}
	</div>

	<div class="p-8 pt-0 mt-6 border rounded-lg bg-background">
		{% include 'pages/app/tracker/ladder/components/_ladder.html.twig' %}
	</div>

{% endblock %}
